*checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
FirePhytos/.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/.gitignore-checkpoint
FirePhytos/.ipynb_checkpoints/README-checkpoint.md
